# file extensions
*.ini
*.py[cdo]
*.csv
*.err
*.log
*.egg-info/
*.sqlite3
config.yml
test*.yml

# dev sources
.virtualenv

# coverage
cover/
coverage.xml
.coverage

# Sphinx documentation
docs/_build/
