# file extensions
*.ini
*.py[cdo]
*.csv
*.err
*.log
*.egg-info/
*.sqlite3
*.db
config.yml
test*.yml

# dev sources
.virtualenv
env/
build/
dist/

# coverage
cover/
coverage.xml
.coverage

# Sphinx documentation
docs/_build/

# Local
.DS_Store
.vscode/
