[main]
daemon = false
sleep = 900

[source:twitter-inquest-c2-list]
module = twitter
saved_state = 
# https://dev.twitter.com/oauth/overview/application-owner-access-tokens
token = 
token_key = 
con_secret_key = 
con_secret = 
# https://dev.twitter.com/rest/reference/get/lists/statuses
owner_screen_name = InQuest
slug = c2-feed

[source:twitter-open-directory]
module = twitter
saved_state = 
# https://dev.twitter.com/oauth/overview/application-owner-access-tokens
token = 
token_key = 
con_secret_key = 
con_secret = 
# https://developer.twitter.com/en/docs/tweets/search/api-reference/get-search-tweets.html
q = "open directory" #malware

[source:twitter-inquest-timeline]
module = twitter
saved_state = 
# https://dev.twitter.com/oauth/overview/application-owner-access-tokens
token = 
token_key = 
con_secret_key = 
con_secret = 
# https://developer.twitter.com/en/docs/tweets/timelines/api-reference/get-statuses-user_timeline
screen_name = InQuest

[source:rss-myiocfeed]
module = rss
saved_state = 
url = https://example.com/rss.xml
feed_type = messy

[operator:csv]
# Write artifacts to a CSV file
module = csv
filename = output.csv

[operator:mythreatkb]
# Send artifacts to a ThreatKB instance
module = threatkb
allowed_sources = twitter-inquest-c2-list, rss-.*
url = http://mythreatkb
token = MYTOKEN
secret_key = MYKEY
state = Inbox

[operator:inquest-threatcrawler]
module = sqs
allowed_sources = twitter-open-directory
filter = is_domain
artifact_types = URL
aws_access_key_id = MY_KEY
aws_secret_access_key = MY_SECRET
aws_region = MY_REGION
queue_name = research-crawl-queue
domain = {domain}
url = {url}
source_type = url
download_path = /var/crawler/inestor
source_type_tags = dir
