[main]
daemon = false
sleep = 900

[source:twitter-myfeed]
module = twitter
saved_state = 
# https://dev.twitter.com/oauth/overview/application-owner-access-tokens
token = 
token_key = 
con_secret_key = 
con_secret = 
# https://dev.twitter.com/rest/reference/get/lists/statuses
owner_screen_name = InQuest
slug = c2-feed

[source:myiocfeed]
module = rss
saved_state = 
url = https://example.com/rss.xml
feed_type = messy

[operator:csv]
# Write artifacts to a CSV file
module = csv
filename = output.csv

[operator:mythreatkb]
# Send artifacts to a ThreatKB instance
module = threatkb
url = http://mythreatkb
email = a@a.a
password = password
state = Inbox

[operator:inquest-threatcrawler]
module = sqs
aws_access_key_id = MY_KEY
aws_secret_access_key = MY_SECRET
aws_region = MY_REGION
queue_name = research-crawl-queue
domain = {domain}
url = {url}
source_type = url
download_path = /var/crawler/inestor
source_type_tags = dir
