beautifulsoup4>=4.4.1
feedparser>=5.2.1
twitter>=1.17.1
requests>=2.4.3
ipaddress>=1.0.18
iocextract>=1.12.1
PyYAML>=3.13
jsonpath_rw>=1.4.0
git+https://github.com/InQuest/python-threatkb#egg=threatkb
